:root {
  /*---------------------------ROOT COLORS-----------------------*/
  --background-color: rgba(0, 0, 0, 0.2 );
  --present-color:#13f631;
  --past-color: #0057fa;
  --future-color: #ff0505;
  --present--s: 0px 0px 4px 35px #13f631, 0px 0px 20px 100px #ffffff;
  --present--p: 0px 0px 4px 35px #13f631, 0px 0px 20px 60px black;
  --present--pc: 0px 0px 4px 35px #13f631, 0px 0px 0px 41px black, 0px 0px 20px 60px yellow;
  --present--c: 0px 0px 4px 35px #13f631, 0px 0px 20px 60px yellow;
  --past--s: 0px 0px 4px 35px #0057fa, 0px 0px 20px 100px white;
  --past--c: 0px 0px 4px 35px #0057fa, 0px 0px 20px 60px yellow;
  --past--p: 0px 0px 4px 35px #0057fa, 0px 0px 20px 60px black;
  --past--pc: 0px 0px 4px 35px #0057fa, 0px 0px 0px 41px black, 0px 0px 20px 60px yellow;
  --future--s: 0px 0px 4px 35px #ff0505, 0px 0px 20px 100px white;
  --future--c: 0px 0px 4px 35px #ff0505, 0px 0px 20px 60px yellow;
  --future--p: 0px 0px 4px 35px #ff0505, 0px 0px 20px 60px black;
  --future--pc: 0px 0px 4px 35px #ff0505, 0px 0px 0px 41px black, 0px 0px 20px 60px yellow;
}

/*---------------------------------------------BODY--------------------------------------*/
body {
  font-family: "roboto", sans-serif;
}

.boxShadow {
  width: 200px;
  height: 200px;
  background-color: black;
}

.prompt {
  z-index: 9;
  position: absolute;
  left: 13%;
  top: 130px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.mark {
  position: absolute;
  min-height: 50px;
  width: 170px;
  left: 40%;
  top:0%;
}
.buttons {
  display: flex;
}
.button {
  width: 40px;
  height: 20px;
  border-radius: 5px;
}
.conditional__list {
  position: absolute;
  display: flex;
  right: 7%;
  top: 15%;

}
.conditional__item {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-left: 10px;
}
.zero {
  border: 5px solid var(--present-color);
  box-shadow: 0px 0px 5px 2px var(--present-color);

}
.first {
  border: 5px solid var(--future-color);
  box-shadow: 0px 0px 5px 2px var(--future-color);
}
.second {
  border: 5px solid var(--past-color);
  box-shadow: 0px 0px 5px 3px var(--past-color);
  background-color: white;
}
.third {
  border: 5px solid black;
  box-shadow: 0px 0px 5px 2px black;
}

#present__p {
   border:solid 4px #13f631;
  box-shadow: 0px 0px 5px 3px black;
}
#present__c {
  border:solid 4px #13f631;
  box-shadow: 0px 0px 5px 3px yellow;
}
#present__pc {
  border:solid 4px #13f631;
  box-shadow: 0px 0px 5px 2px black, 0px 0px 5px 7px yellow;
}
#present__s {
  border:solid 4px #13f631;
  box-shadow: 0px 0px 5px 2px #13f631;
}
#past__s {
  border:solid 4px #0057fa;
  box-shadow: 0px 0px 5px 2px #0057fa, 0px 0px 5px 5px white;
}
#past__c {
  border:solid 4px #0057fa;
  box-shadow: 0px 0px 5px 3px yellow;
}
#past__p {
  border:solid 4px #0057fa;
  box-shadow: 0px 0px 5px 3px black;
}
#past__pc {
  border:solid 4px #0057fa;
  box-shadow: 0px 0px 5px 3px black,0px 0px 5px 7px yellow;
}
#future__s {
  border:solid 4px #ff0505;
  box-shadow: 0px 0px 5px 2px #ff0505, 0px 0px 5px 5px white;
}
#future__c {
  border:solid 4px #ff0505;
  box-shadow: 0px 0px 5px 3px yellow;
}
#future__p {
  border:solid 4px #ff0505;
  box-shadow: 0px 0px 5px 3px black;
}
#future__pc {
  border:solid 4px #ff0505;
  box-shadow: 0px 0px 5px 3px black,0px 0px 5px 7px yellow;
}
#conditionals{
  border:solid 4px #ff66e0;
  box-shadow: 0px 0px 5px 3px #ff66e0;
}

.present__s {
  box-shadow: var(--present--s);
}
.present__p {
  box-shadow: var(--present--p);
}
.present__pc {
  box-shadow: var(--present--pc)
}
.present__c {
  box-shadow: var(--present--c);
}
.plan__f {
  box-shadow: var(--present--c);
}
.past__s {
  box-shadow: var(--past--s);
}
.past__c {
  box-shadow: var(--past--c);
}
.past__p {
  box-shadow: var(--past--p);
}
.past__pc {
  box-shadow: var(--past--pc);
}
.future__s {
  box-shadow: var(--future--s);
}
.future__c {
  box-shadow: var(--future--c);
}
.future__p {
  box-shadow: var(--future--p);
}
.future__pc {
  box-shadow: var(--future--pc);
}
img {
  display: block;
  border-radius: 20px;
}
  li {
  list-style: none;
}

.tense {
  margin-left: 20px;
}
.gradient {
  position: sticky;
  display: flex;
  
  background-color: var(--background-color);
  /* background-image: radial-gradient(var(--present-color) 40% 10% ,black); */
  height:100vh ;
  align-items: center;
  justify-content: space-around;
}
.secondVerb {
    text-align: center;
    /* border:solid 30px var(--present-color); */
    border-radius: 30px;

  /* box-shadow: 0px 0px 10px 50px #FFFFFF ; */

}





/*---------------------------------------------site nav-----------------------------------------------*/
/* .logo {
text-decoration: none;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo-blue {
  color: var(--accent-text-color);
}
.logo-studio  {
color: #000000;
}
.nav {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav:hover,
.nav:focus {
  color: var(--accent-text-color);
  
}
}
.current {
  color:var(--secondary-text-color)
}
.section-title {
  color: var(--secondary-text-color)
}
.nav.adress-header {
  color: var(--primary-text-color);
 
}
.nav.adress-header:hover,
.nav.adress-header:focus {
  color: var(--accent-text-color);
} */

/*---------------------------------------------HERO--------------------------------------*/
/* .hero {
background-color: var(--third-background-color);

}
.hero-title {
color: var(--title-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
} */

/*---------------------------------------------BUTTON--------------------------------------*/
/* .button {
cursor: pointer;
color: var(--title-text-color);
background-color: var(--accent-text-color);
font-family:inherit;
font-weight:700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

.current {
  background-color: red;
} */
/* .button.filter-button {
color:var(--secondary-text-color);
background-color: var(--secondary-background-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--accent-text-color);
}
/*--------------------------------------------SECTION--------------------------------------------*/
/* .logo {
  color:var(--secondary-text-color)
}
.logo:hover {
  color: var(--accent-text-color)
}
ul {
  list-style: none;
} */
*/

/*-----------------------------------------Features Как мы работаем--------------------------------------*/
/* .features {
color: var(--secondary-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
} 
.features-paragraph {
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;
} */

/*---------------------------------------------EXAMPLES--------------------------------------*/
/* 
.title-examples {
color: var(--secondary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
} */
/*---------------------------------------------OUR TEAM--------------------------------------*/
/* .names {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.responcibilities {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
} */

/*---------------------------------------------FOOTER--------------------------------------*/
/* .footer {
  background-color: var(--third-background-color);
  text-decoration: none;
}
.logo-footer {
  color: var(--title-text-color);
}
.footer-address {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.email-phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */
