body {
  font-family: "roboto", sans-serif;
    background-color: var(--background-color);
    height:100vh;
    align-items: center;
    justify-content: space-around;
    }



.current {
box-shadow: #32feedb8 0px 0px 2px 7px, white 0px 0px 5px 12px;
border-radius: 30px;
// border: 3px solid #999;


}
